@{
    ViewData["Title"] = "Home Page";
}
    <body style=' background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);'>
        <div class="text-center">
            <h1 class="display-4">Happy You Are Here!</h1>
            <p>Ask questions and a kind person will answer</p>
            <img src="https://data.whicdn.com/images/328161637/original.jpg?t=1553105166" class="img-fluid" alt="Responsive image">

        </div>



</body>